<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Proveedor</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="inputNombre">Nombre</label>
        <input type="text" class="form-control" id="inputNombre" [(ngModel)]="proveedor.nombre">

      </div>
      <div class="form-group">
        <label for="inputRazon">Razón Social</label>
        <input type="text" class="form-control" id="inputRazon" [(ngModel)]="proveedor.razonSocial">
      </div>
      <div class="form-group">
        <label for="inputDireccion">Dirección</label>
        <input type="text" class="form-control" id="inputDireccion" [(ngModel)]="proveedor.direccion">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<div class="mx-5 my-5 d-flex flex-row-reverse mb-3">
  <button class="btn btn-lg btn-outline-primary" (click)="onAgregar(content)">
    Agregar Proveedor
  </button>
</div>

<div class="mx-5 my-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Estatus</th>
        <th scope="col">Nombre</th>
        <th scope="col">Razón Social</th>
        <th scope="col">Dirección</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proveedor of proveedores">
        <th scope="row"></th>
        <td>{{ proveedor.nombre }}</td>
        <td>{{ proveedor.razonSocial }}</td>
        <td>{{ proveedor.direccion }}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refreshProveedores()"
    >
    </ngb-pagination>
  </div>
</div>
